{% extends 'navbar.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-dismissible alert-{{ category }}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ 'Sucesso!' if category == 'success' else 'Erro!' }}</strong> {{ message }}
            </div>
            {% endfor %}
        {% endif %}
{% endwith %}

<div style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/static/assets/BibliotecaFundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
">
</div>

    <h1 style="
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        background-clip: text;
        color: transparent;
        text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
        font-size: 5em;
        animation: textMove 5s linear infinite;
        z-index: 1;
    ">
        Bem-vindo à Biblioteca do Nathan!
    </h1>

<style>
    @keyframes textMove {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(0); }
    }
</style>

{% endblock %}
