{% extends 'navbar.html' %}

{% block content %}

<div style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/static/assets/BibliotecaFundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
">
</div>
{% if google_data is not none and google_data.error is not none %}
<p>Hi {{ google_data.name }}, [<strong>{{ google_data.email }}</strong>]. You have logged in successfully from your Google Account. Check your below details.</p> 
<div class="detail">
    <p style="font-size: 15px; padding-bottom: 10px;">User info fetched from <strong>{{ fetch_url }}</strong></p> 
    {% for key, value in google_data.items() %} <p><strong>{{ key }}</strong>: {{ value }}</p> 
        {% if(key == 'picture') %} 
            <img src="{{ value }}" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;"> 
        {% endif %} 
    {% endfor %}
</div> 
{% endif %}

{% if github_data is not none and (github_data.message != 'Requires authentication') %}
<p>Hi {{ github_data.name }}, [<strong>{{ github_data.email }}</strong>]. You have logged in successfully from your Google Account. Check your below details.</p> 
<div class="detail">
    <p style="font-size: 15px; padding-bottom: 10px;">User info fetched from <strong>{{ fetch_url }}</strong></p> 
    {% for key, value in github_data.items() %} <p><strong>{{ key }}</strong>: {{ value }}</p> 
        {% if(key == 'picture') %} 
            <img src="{{ value }}" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;"> 
        {% endif %} 
    {% endfor %}
</div> 
{% endif %} 

{% endblock %}

{% block title %} <h2>Perfil</h2>

{% endblock %}