{% extends 'navbar.html' %}

{% block content %}

<div style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/static/assets/BibliotecaFundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
">
</div>

<form action="/users" method="post"></form>
    <fieldset>
        <div class="d-flex align-items-center justify-content-center">
            <div class="card border-primary mb-3" style="max-width: 30rem; width: 25rem;">
                <div class="card-header"> Registre-se no sistema </div>
                <div class="card-body">
                    <div>
                        <h4 class="form-label mt-4">Login</h4>
                        <input name="login" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                        <h4 class="form-label mt-4">Senha</h4>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha" autocomplete="off">
                        <h4 class="form-label mt-4">Nome Completo</h4>
                        <input name="firstName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="firstNameHelp" placeholder="Digite seu nome">
                    </div>
                    <div class="d-grid gap-2 form-label mt-4">
                        <button class="btn btn-primary" type="submit">Registrar</button>
                        <button onclick="window.location.href='/login';" class="btn btn-outline-secondary"
                            type="button">Voltar ao Login</button>
                    </div>
                </div>
            </div>
    </fieldset>
</form>

<script>
    document.getElementById('registerForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // Evita o comportamento padrão de envio do formulário
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const name = document.getElementById('name').value;
        // Envia os dados para o servidor usando fetch
        const response = await fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email: email, password: password, name: name })
        });
        const result = await response.json();
        if (response.ok) {
            // Se login for bem-sucedido, redireciona para o dashboard ou outra página
            window.location.href = '/dashboard'; 
        } else {
            // Exibe uma mensagem de erro se o login falhar
            alert(result.message || 'Falha no login. Verifique suas credenciais.');
        }
    });
</script>

{% endblock %}