{% extends 'navbar.html' %}

{% block content %}

<!-- Div exclusiva para o background -->
<div style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/static/assets/BibliotecaFundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
">
</div>

<!-- Conteúdo da página -->
<div class="container" style="position: relative; z-index: 1;">
    <div class="row">
        {% for dado in dados %}
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Usuario</div>
                <div class="card-body">
                    <h4 class="card-title">{{ dado.nomeCompleto }}</h4>
                    <p class="card-text">Id do usuario: {{ dado.id }}</p>
                    <p class="card-text">Email do usuario: {{ dado.email }}</p>
                    <p class="card-text">Senha do usuario: {{ dado.senha }}</p>
                    <p class="card-text">Status da conta: 
                        {% if dado.status == 1 %}
                            Ativo
                        {% else %}
                            Bloqueado
                        {% endif %}
                    </p>
                    <p class="card-text">Criacao do usuario: {{ dado.created }}</p>
                    <p class="card-text">Atualizacao do usuario: {{ dado.modified }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
